*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3px;
    margin-right: 3px;
    background-image: linear-gradient(lightblue, white);
}
.index {
    display: none;
}

.section-1 {
    margin: auto;
    margin-bottom: 35px;
}
.section-1 h3 {
    margin-bottom: 5px;
}
.sideNote {
    background-color: green;
    color: white;
    padding: 5px;
    font-size: small;
    text-align: center;
    width: fit-content;
    margin: 5px;
    margin-left: auto;
}
main {
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    width: fit-content;
    line-height: 1.35;
}
@media(min-width: 850px) {
    main {
        width: 850px;
    }
}
.section-3 {
    margin-top: 30px;
}
.section-3 img {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border-radius: 40px;
    padding: 3px;
    margin: 3px;
}
.section-3 h2 ~ div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.section-3 + form {
    display: flex;
    justify-content: center;
}
.section-3 + form .btn {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(1, 166, 1);
    color: white;
    border: none;
    cursor: pointer;
}
.section-3 + form .btn:hover {
    background-color: green;
}
footer {
    text-align: center;
    padding-bottom: 20px;
}
footer div {
    font-size: small;
}
footer img {
    width: 40px;
    height: 40px;
    background-color: rgb(63, 63, 63);
    padding: 5px;
    border-radius: 5px;
    margin-top: 3px;
}
footer img:hover {
    background-color: black;
}
/* index page css */
.index {
    margin-left: 3px;
    margin-right: 3px;
}
.indexH {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.indexH .name {
    font-weight: bold;
    font-size: larger;
    color: blue;
}
.indexH .name + div {
    font-size: small;
    font-weight: bold;
}
.hiCont {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
}
.hi {
    width: fit-content;
    background-color: lightblue;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
}
.hi .cancel {
    width: fit-content;
    margin-left: auto;
    padding: 5px;
    cursor: pointer;
    /* outline: 1px solid red; */
}
.hi img:nth-child(1) {
    width: 25px;
    height: 25px;
}
.hi div:nth-child(2) img {
    width: 250px;
    height: 250px;
}
.hi div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hi div:nth-child(2) div {
    padding: 10px;
    align-self: flex-start;
}
.hi div:nth-child(2) button {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: green;
    margin-top: 15px;
    margin-left: 5px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.loader {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 300px;
    padding-left: 50%;
}
.loader img {
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 50px;
}
.slide {
    margin-bottom: 15px;
}
.main {
    display: flex;
    justify-content: center;
    gap: 5px;
}
#cleanForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#cleanForm textarea {
    resize: none;
    width: 290px;
    height: 100px;
    padding: 5px;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    outline: none;
    line-height: 1.4;
}
#cleanForm button {
    align-self: flex-end;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#cleanForm button:hover {
    background-color: rgb(0, 153, 0);
}
.analyse {
    text-align: center;
    padding: 40px;
    padding-left: 150px;
    padding-right: 150px;
    display: none;
}
.analyse img {
    width: 80px;
    height: 80px;
}
.query {
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
/* .main {
    display: none;
} */
.main img {
    width: 200px;
    height: 200px;
    align-self: flex-start;
}
.query2 {
    background-color: lightblue;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    display: none;
}
.query2 img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    transition: 0.2s;
    cursor: pointer;
}
.query2 img:hover {
    background-color: rgb(133, 207, 232);
}
.query2 .confirm {
    margin: auto;
    text-align: center;
    background-color: lightgreen;
    width: fit-content;
    padding: 25px;
}
.query2 .confirm form {
    text-align: center;
}
.query2 .confirm button {
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
}
.query2 .confirm span button {
    background-color: lightcoral;
    margin-top: 10px;
}
.query2 .confirm button:hover {
    background-color: rgb(0, 161, 0);
}
.query2 .confirm span button:hover {
    background-color: rgb(243, 106, 106);
}
.instruct {
    margin-top: 10px;
    width: 400px;
    margin: auto;
    transform: translateX(-10%);
}
@media (min-width: 850px) {
    .instruct {
        width: fit-content;
        transform: translateX(-30%);
    }
}
.ingredients {
    margin-top: 5px;
    margin-bottom: 30px;
}
.index footer {
    margin-top: 250px;
}